.item-description {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.75rem;
  
  .title {
    font-weight: bold;
  }
  p {
    text-align: justify;
  }

  &.disabled {
    .title, p {
      color: #a09f9f;
    }
  }
}